@charset "UTF-8";
/* Fonts
-----------------------*/
@import "../fonts/fonts.css";
/* Null Style
-----------------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Blocks
-----------------------*/
.page {
  min-height: 100vh;
  max-width: 1440px;
  min-width: 320px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Monsterrat", sans-serif;
  line-height: 1.375;
  color: #fff;
  background: #373737;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.main-column {
  padding: 60px 0;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*Header*/
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 33, 33, 0.6);
  -webkit-backdrop-filter: blur(11px);
          backdrop-filter: blur(11px);
  z-index: 999;
}
.header__container {
  height: 74px;
  max-width: 1230px;
  padding: 0 15px;
  margin: auto;
}
.header__menu {
  width: 23px;
  height: 23px;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-row__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 25px;
  position: relative;
}
.header-row__center {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-row__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 25px;
}

@media screen and (max-width: 612px) {
  .header-row__right {
    display: none;
  }

  .tel-num {
    display: none;
  }
}
@-webkit-keyframes checked-anim {
  25% {
    width: 7%;
  }
  50% {
    width: 15%;
  }
  75% {
    width: 22%;
  }
  100% {
    width: 33%;
  }
}
@keyframes checked-anim {
  25% {
    width: 7%;
  }
  50% {
    width: 15%;
  }
  75% {
    width: 22%;
  }
  100% {
    width: 33%;
  }
}
@-webkit-keyframes checked-anim-links {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes checked-anim-links {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu {
  position: relative;
}
.menu__fake-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  z-index: -1;
  display: none;
}
.menu__main-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px 0;
  opacity: 0;
}
.menu__list:nth-child(2) {
  padding: 30px 0 0 0;
}
.menu__link {
  color: inherit;
  font-family: "Montserrat";
  text-transform: uppercase;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__column {
  display: none;
  position: fixed;
  width: 0;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 115px 0 0 48px;
}
.menu__column:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.64)), to(rgba(0, 0, 0, 0.64))), url("../img/intro/__background.png") 60%/cover no-repeat;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64)), url("../img/intro/__background.png") 60%/cover no-repeat;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  z-index: -1;
}

.menu__link_position_top {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.menu__link_position_bottom {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.6;
}

#menu:not(:checked) ~ .menu__main-button {
  background: url("../img/menu/__menu.svg") center/contain no-repeat;
}

#menu:checked ~ .menu__main-button {
  background: url("../img/menu/__chevron-left.svg") 40%/50% no-repeat;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 50%;
}

#menu:checked ~ .menu__column {
  display: block;
  -webkit-animation: 0.2s ease forwards checked-anim;
          animation: 0.2s ease forwards checked-anim;
}

#menu:checked ~ .menu__column > .menu__list {
  -webkit-animation: 1s ease 0.3s forwards checked-anim-links;
          animation: 1s ease 0.3s forwards checked-anim-links;
}

#menu:checked ~ .menu__fake-background {
  display: block;
  opacity: 0.6;
}

@media screen and (max-width: 1012px) {
  @-webkit-keyframes checked-anim {
    25% {
      width: 10%;
    }
    50% {
      width: 20%;
    }
    75% {
      width: 40%;
    }
    100% {
      width: 60%;
    }
  }
  @keyframes checked-anim {
    25% {
      width: 10%;
    }
    50% {
      width: 20%;
    }
    75% {
      width: 40%;
    }
    100% {
      width: 60%;
    }
  }
}
@media screen and (max-width: 612px) {
  @-webkit-keyframes checked-anim {
    25% {
      width: 30%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 80%;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes checked-anim {
    25% {
      width: 30%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 80%;
    }
    100% {
      width: 100%;
    }
  }
}
.intro {
  height: 590px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)), linear-gradient(268.39deg, rgba(0, 0, 0, 0) 21.45%, #000000 85.16%), url("../img/intro/__background.png") center/cover no-repeat;
}
.intro__container {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 150px 0 75px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro__column {
  max-width: 532px;
  padding: 0 0 0 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px 0;
}
.intro__title {
  font-family: "Jura";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
}
.intro__subtitle {
  font-size: 16px;
  line-height: 1.25;
}
.intro__button a {
  height: 55px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: inherit;
  font-size: 14px;
  line-height: 1.64;
  padding: 0 48px;
  text-decoration: none;
  position: relative;
  border: 2px solid #c80000;
  border-radius: 27px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.intro__button a:hover {
  padding: 0 60px;
}

@media screen and (max-width: 612px) {
  .intro__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro__column {
    max-width: 80%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px 0;
    text-align: center;
  }
}
.navigation {
  padding: 60px 0;
}
.navigation__container {
  max-width: 1230px;
  margin: auto;
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}
.navigation__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__img {
  width: 46px;
  height: 46px;
}
.navigation__link {
  color: #878787;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  opacity: 1;
  text-align: center;
}
.navigation__link:hover {
  color: #ff0000;
}

@media screen and (max-width: 1012px) {
  .navigation__container {
    max-width: 630px;
    -ms-grid-columns: 1fr 0 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 0;
  }
}
.main-gallery {
  padding: 60px 0;
}
.main-gallery__container {
  max-width: 1230px;
  margin: auto;
  padding: 0 15px;
}

.gallery-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px 18px;
  -ms-grid-rows: auto 25px auto 25px auto 25px auto;
      grid-template-areas: "big big small1 small2" "small3 small4 small5 small6" "email email email email" "small7 small8 small9 small10";
}
.gallery-grid__item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: big;
}
.gallery-grid__item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: small1;
}
.gallery-grid__item:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: small2;
}
.gallery-grid__item:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: small3;
}
.gallery-grid__item:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: small4;
}
.gallery-grid__item:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: small5;
}
.gallery-grid__item:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  grid-area: small6;
}
.gallery-grid__item:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: email;
}
.gallery-grid__item:nth-child(9) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: small7;
}
.gallery-grid__item:nth-child(10) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: small8;
}
.gallery-grid__item:nth-child(11) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
  grid-area: small9;
}
.gallery-grid__item:nth-child(12) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
  grid-area: small10;
}

@media screen and (max-width: 1012px) {
  .gallery-grid {
        grid-template-areas: "big big" "small1 small2" "small3 small4 " "small5 small6" "small7 small8" "small9 small10" "email email";
  }
  .gallery-grid__item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .gallery-grid__item:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .gallery-grid__item:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .gallery-grid__item:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .gallery-grid__item:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .gallery-grid__item:nth-child(6) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .gallery-grid__item:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .gallery-grid__item:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .gallery-grid__item:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .gallery-grid__item:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .gallery-grid__item:nth-child(11) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .gallery-grid__item:nth-child(12) {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
  }
}
@media screen and (max-width: 612px) {
  .gallery-grid {
        grid-template-areas: "big" "small1" "small2" "small3" "small4" "small5" "small6" "small7" "small8" "small9" "small10" "email";
  }
  .gallery-grid__item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .gallery-grid__item:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .gallery-grid__item:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .gallery-grid__item:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .gallery-grid__item:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .gallery-grid__item:nth-child(6) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .gallery-grid__item:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .gallery-grid__item:nth-child(8) {
    -ms-grid-row: 12;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .gallery-grid__item:nth-child(9) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
  }
  .gallery-grid__item:nth-child(10) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .gallery-grid__item:nth-child(11) {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
  }
  .gallery-grid__item:nth-child(12) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
}
.card-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 481px;
  position: relative;
}
.card-small__top {
  min-height: 412px;
  background: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 14px;
  overflow: hidden;
}
.card-small__top_background_inst {
  background: url("../img/main-galelry/insta-knife.png") center/cover no-repeat;
}
.card-small__bottom {
  padding: 12px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.card-small__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-small__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
}
.card-small__price {
  font-weight: 600;
  font-size: 14px;
  line-height: 2;
  opacity: 0.5;
}
.card-small_new::after {
  content: "Новинка";
  color: #ff3232;
  padding-left: 40px;
}
.card-small__logo-text {
  padding: 0 0 0 18px;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.65;
  text-transform: uppercase;
}

@media screen and (max-width: 1012px) {
  .card-small {
    min-height: 451px;
  }
  .card-small__top {
    min-height: 379px;
  }
}
@media screen and (max-width: 612px) {
  .card-small {
    min-height: 190px;
  }
  .card-small__img {
    width: 100%;
    max-height: 109px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .card-small__top {
    min-height: 120px;
  }
  .card-small__top_background_inst {
    min-height: 300px;
  }
}
.card-big {
  min-height: 481px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 14px;
  overflow: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.card-big__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.card-big__bottom {
  width: 100%;
  padding: 0 25px 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-big__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.65;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1012px) {
  .card-big {
    min-height: 514px;
  }
}
@media screen and (max-width: 612px) {
  .card-big {
    min-height: 300px;
  }
}
.flex-link__background {
  display: none;
  width: 25px;
  height: 25px;
  background: url("../img/logo/__shop.svg");
}

.flex-link {
  padding: 5px 0;
  border-radius: 17px;
  background: rgba(255, 0, 0, 0);
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
  position: absolute;
  top: 5%;
  right: 7%;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-link__plus {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
}
.flex-link__plus::before, .flex-link__plus::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  width: 2.5px;
  height: 100%;
  background: #fff;
  top: 0;
  left: calc(50% - (2.5px / 2));
}
.flex-link__plus::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.flex-link:hover {
  -webkit-transition: gap 0.6s ease-out, background 2s ease;
  transition: gap 0.6s ease-out, background 2s ease;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding: 5px 10px;
  background: rgba(255, 0, 0, 0.7);
}

.flex-link:hover .flex-link__background {
  display: block;
}

.form-email {
  position: relative;
  width: 276px;
  height: 59px;
}
.form-email .form-email__input {
  height: 100%;
  width: 100%;
  padding: 0 26px;
  background: #272727;
  border: 0;
  border-radius: 6px;
}
.form-email .form-email__button {
  cursor: pointer;
  background: url(../img/input/chevron.png) 50% 50% no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
}

.tuotown {
  padding: 60px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.tuotown__container {
  max-width: 1230px;
  margin: auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px 0;
}

.grid-box {
  display: -ms-grid;
  display: grid;
  gap: 0 80px;
}
.grid-box_location_top {
  -ms-grid-columns: 289px 1fr;
  grid-template-columns: 289px 1fr;
      grid-template-areas: "img title" "img top-text" "img bottom-text";
}
.grid-box_location_bottom {
  -ms-grid-columns: 1fr 289px;
  grid-template-columns: 1fr 289px;
      grid-template-areas: "top-text img" "bottom-text img" "title img";
}
.grid-box__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: img;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-box_location_bottom > .grid-box__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
}
.grid-box__title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  max-width: 95%;
  font-family: "Jura";
  font-weight: 500;
  font-size: 35px;
  line-height: 1.2;
}
.grid-box_location_bottom > .grid-box__title {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.grid-box__text {
  font-size: 16px;
  line-height: 1.38;
  max-width: 90%;
}
.grid-box__text:nth-of-type(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: top-text;
}
.grid-box_location_bottom > .grid-box__text:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid-box__text:nth-of-type(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: bottom-text;
}
.grid-box_location_bottom > .grid-box__text:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

@media screen and (max-width: 1012px) {
  .grid-box_location_top {
    -ms-grid-columns: 289px 1fr;
    grid-template-columns: 289px 1fr;
        grid-template-areas: "img top-text" "img bottom-text" "title .";
  }
  .grid-box_location_bottom {
        grid-template-areas: "top-text img" "bottom-text img" ". title";
  }
  .grid-box__title {
    font-size: 24px;
    line-height: 1.16;
    text-align: center;
  }
  .grid-box__text {
    font-size: 14px;
    line-height: 1.4;
  }
  .grid-box__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }
  .grid-box_location_bottom > .grid-box__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
  }
  .grid-box__title {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid-box_location_bottom > .grid-box__title {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .grid-box__text:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .grid-box_location_bottom > .grid-box__text:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid-box__text:nth-of-type(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .grid-box_location_bottom > .grid-box__text:nth-of-type(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}
@media screen and (max-width: 612px) {
  .grid-box_location_top {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 30px auto 30px auto 30px auto;
        grid-template-areas: "title" "top-text" "img" "bottom-text";
    gap: 30px 0;
  }
  .grid-box_location_bottom {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 30px auto 30px auto 30px auto;
        grid-template-areas: "title" "top-text" "img" "bottom-text";
    gap: 30px 0;
  }
  .grid-box__title {
    font-size: 24px;
    line-height: 1.16;
    text-align: center;
  }
  .grid-box__text {
    font-size: 14px;
    line-height: 1.4;
  }
  .grid-box__img {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .grid-box_location_bottom > .grid-box__img {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .grid-box__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid-box_location_bottom > .grid-box__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid-box__text:nth-of-type(1) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid-box_location_bottom > .grid-box__text:nth-of-type(1) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid-box__text:nth-of-type(2) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .grid-box_location_bottom > .grid-box__text:nth-of-type(2) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
}
.interesting {
  padding: 60px 0;
}
.interesting__container {
  max-width: 1230px;
  margin: auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 37px 0;
}
.interesting__title {
  font-family: "Jura";
  font-weight: 500;
  font-size: 35px;
  line-height: 0.83;
}

@media screen and (max-width: 1012px) {
  .interesting__container {
    max-width: 660px;
  }
}
.video {
  padding: 60px 0;
}

.video__container {
  margin: auto;
  max-width: 1200px;
  position: relative;
  padding-bottom: 56.25%;
  /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}

.video__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.bottom {
  padding: 40px 0;
  background: #272727;
}
.bottom__container {
  max-width: 1230px;
  margin: auto;
  padding: 0 15px;
}

.grid-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3% 1fr 3% 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 3%;
}
.grid-bottom__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px 0;
}

@media screen and (max-width: 1012px) {
  .grid-bottom {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 30px 0;
  }
}
.bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 20px;
}

.bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px 0;
}
.bottom-left__subtitle {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.31;
}
.bottom-left__text {
  font-size: 13px;
  line-height: 1.54;
}

.bottom-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px 0;
}
.bottom-center__subtitle {
  font-weight: 600;
  font-size: 17px;
  line-height: 1.65;
}
.bottom-center__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px 20px;
}
.bottom-center__link {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
}
.bottom-center__link_fb {
  background: #2e2e2e url(../img/logo/fb.svg) center/50% no-repeat;
}
.bottom-center__link_vk {
  background: #2e2e2e url(../img/logo/vk.svg) center/50% no-repeat;
}
.bottom-center__link_in {
  background: #2e2e2e url(../img/logo/vk.svg) center/50% no-repeat;
}
.bottom-center__link_yt {
  background: #2e2e2e url(../img/logo/yt.svg) center/50% no-repeat;
}
.bottom-center__link:hover {
  text-decoration: underline;
}
.bottom-center__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 5%;
}
.bottom-center__link-social {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.bottom-center__link-social:hover {
  text-decoration: underline;
}

.bottom-right__subtitle {
  font-weight: 600;
  font-size: 17px;
  line-height: 1.65;
}
.bottom-right__email {
  color: inherit;
  font-size: 14px;
  line-height: 1.36;
}
.bottom-right__img {
  width: 87px;
  height: 31px;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
}
.footer__container {
  max-width: 1230px;
  padding: 0 15px;
  height: 100%;
  margin: auto;
}
.footer__row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__copyrights {
  font-size: 12px;
  line-height: 1.75;
  opacity: 0.5;
}
.footer__footer__img {
  width: 156px;
  height: 17px;
}

.tel-num {
  color: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
}

@media screen and (max-width: 1012px) {
  .tel-num {
    font-size: 16px;
    line-height: 1.2;
  }
}
.input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.input-row__column {
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px 0;
}
.input-row__title {
  font-family: "Jura";
  font-weight: 500;
  font-size: 27px;
  line-height: 1.56;
}

.grid-interesting {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 0 28px;
}
.grid-interesting__column {
  min-height: 465px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
  border-radius: 14px;
  overflow: hidden;
}
.grid-interesting__background {
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.grid-interesting__date {
  padding: 22px 35px;
  font-size: 14px;
  line-height: 2;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.grid-interesting__text {
  padding: 22px 35px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.41;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
.grid-interesting__text:hover {
  background: #c80000;
}

@media screen and (max-width: 1012px) {
  .grid-interesting {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 30px 0;
  }
}