*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
}

.intro {
  min-height: 590px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)), linear-gradient(268.39deg, rgba(0, 0, 0, 0) 21.45%, #000000 85.16%), url("../img/intro/__background.png");
}
.intro__container {
  max-width: 1200px;
  margin: auto;
  padding: 150px 0 75px 0;
}

.page {
  height: 100vh;
  max-width: 1440px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Monsterrat", sans-serif;
  line-height: 1.375;
  color: #fff;
  background: #373737;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.navigation {
  padding: 60px 0;
}
.navigation .navigation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navigation .navigation__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation .navigation__img {
  width: 46px;
  height: 46px;
}
.navigation .navigation__link {
  color: #878787;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  opacity: 1;
}
.navigation .navigation__link:hover {
  color: #ff0000;
}

.main-column {
  padding: 60px 0;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(138px, 1fr));
  gap: 25px 18px;
      grid-template-areas: "big big small1 small2";
}

.card-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 481px;
  position: relative;
}
.card-small:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: small1;
}
.card-small:nth-of-type(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: small2;
}
.card-small .card-small__top {
  min-height: 412px;
  background: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 14px;
  overflow: hidden;
}
.card-small .card-small__bottom {
  padding: 12px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.card-small .small__img {
  width: 100%;
  height: 235px;
  -o-object-fit: contain;
     object-fit: contain;
}
.card-small .small__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
}
.card-small .small__price {
  font-weight: 600;
  font-size: 14px;
  line-height: 2;
  opacity: 0.5;
}
.card-small .small__price span {
  color: #ff3232;
  padding-left: 5%;
}

.card-big {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: big;
  min-height: 481px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 14px;
  overflow: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.card-big .card-big__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.card-big .card-big__bottom {
  width: 100%;
  padding: 0 25px 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-big .card__big__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.65;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@font-face {
  font-family: "Monsterrat";
  src: url(../fonts/Montserrat-Medium.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Monsterrat";
  src: url(../fonts/Montserrat-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "Monsterrat";
  src: url(../fonts/Montserrat-SemiBold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: "Jura";
  src: url(../fonts/Jura-Medium.woff2);
  font-weight: 500;
}