.bottom {
  padding: 40px 0;
  background: #272727;
  &__container {
    max-width: 1230px;
    margin: auto;
    padding: 0 15px;
  }
}

.grid-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 3%;
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px 0;
  }
}
.bottom-row {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px 0;
  &__subtitle {
    font-weight: 600;
    font-size: 13px;
    line-height: 1.31;
  }
  &__text {
    font-size: 13px;
    line-height: 1.54;
  }
}

.bottom-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px 0;
  &__subtitle {
    font-weight: 600;
    font-size: 17px;
    line-height: 1.65;
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 20px;
  }
  &__link {
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    &_fb {
      background: #2e2e2e url(../img/logo/fb.svg) center / 50% no-repeat;
    }
    &_vk {
      background: #2e2e2e url(../img/logo/vk.svg) center / 50% no-repeat;
    }
    &_in {
      background: #2e2e2e url(../img/logo/vk.svg) center / 50% no-repeat;
    }
    &_yt {
      background: #2e2e2e url(../img/logo/yt.svg) center / 50% no-repeat;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &__social {
    display: flex;
    gap: 0 5%;
  }
  &__link-social {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    &:hover {
      text-decoration: underline;
    }
  }
}

.bottom-right {
  &__subtitle {
    font-weight: 600;
    font-size: 17px;
    line-height: 1.65;
  }
  &__email {
    color: inherit;
    font-size: 14px;
    line-height: 1.36;
  }
  &__img {
    width: 87px;
    height: 31px;
  }
}

.tel-num {
  color: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
}

@media screen and (max-width: 1012px) {
  .grid-bottom {
    grid-template-columns: 1fr;
    gap: 30px 0;
  }
  .tel-num{
  font-size: 16px;
  line-height: 1.2;
  }
}
