$thick: 2.5px;
$color: #fff;
$bk-color: #272727;
$unit: 25px;
$img-sz: 25px;
$radius: 10px;

.flex-link__background {
  display: none;
  width: $img-sz;
  height: $img-sz;
  background: url("../img/logo/__shop.svg");
}

.flex-link {
  padding: 5px 0;
  border-radius: 17px;
  background: rgba(255, 0, 0, 0);
  column-gap: 0;
  position: absolute;
  top: 5%;
  right: 7%;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &__plus {
    display: inline-block;
    position: relative;
    width: $unit;
    height: $unit;
    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: $radius;
      width: $thick;
      height: 100%;
      background: $color;
      top: 0;
      left: calc(50% - (#{$thick} / 2));
    }
    &::after {
      transform: rotate(90deg);
    }
  }
  &:hover {
    transition: gap 0.6s ease-out, background 2s ease;
    column-gap: 20px;
    padding: 5px 10px;
    background: rgba(255, 0, 0, 0.7);
  }
 
}


.flex-link:hover .flex-link__background {
  display: block;
}
