.intro {
  height: 590px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)),
    linear-gradient(268.39deg, rgba(0, 0, 0, 0) 21.45%, #000000 85.16%),
    url("../img/intro/__background.png") center / cover no-repeat;
  &__container {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 150px 0 75px 0;
    display: flex;
    align-items: center;
  }
  &__column {
    max-width: 532px;
    padding: 0 0 0 72px;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }
  &__title {
    font-family: "Jura";
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
  }
  &__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }

  &__button a {
    height: 55px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: inherit;
    font-size: 14px;
    line-height: 1.64;
    padding: 0 48px;
    text-decoration: none;
    position: relative;
    border: 2px solid #c80000;
    border-radius: 27px;
    transition: all .15s ease-in-out;

    &:hover {
      padding: 0 60px;
      box-shadow: 0 0 10px 0 #c80000 inset, 0 0 20px 2px #c80000;
    }
  }
}
@media screen and (max-width: 612px) {
  .intro {
    &__container {
      align-items: center;
      justify-content: center;
    }
    &__column {
      max-width: 80%;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 20px 0;
      text-align: center;
    }
  }
}
