$color-nain: #ff3232;
.main-gallery {
  padding: 60px 0;
  &__container {
    max-width: 1200px;
    margin: auto;
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(138px, 1fr));
  gap: 25px 18px;
  grid-template-areas:
    "big big small1 small2"
    "small3 small4 small5 small6"
    "email email email email"
    "small7 small8 small9 small10";

  .gallery-grid__item:nth-child(1) {
    grid-area: big;
  }
  .gallery-grid__item:nth-child(2) {
    grid-area: small1;
  }
  .gallery-grid__item:nth-child(3) {
    grid-area: small2;
  }
  .gallery-grid__item:nth-child(4) {
    grid-area: small3;
  }
  .gallery-grid__item:nth-child(5) {
    grid-area: small4;
  }
  .gallery-grid__item:nth-child(6) {
    grid-area: small5;
  }
  .gallery-grid__item:nth-child(7) {
    grid-area: small6;
  }
  .gallery-grid__item:nth-child(8) {
    grid-area: email;
  }
  .gallery-grid__item:nth-child(9) {
    grid-area: small7;
  }
  .gallery-grid__item:nth-child(10) {
    grid-area: small8;
  }
  .gallery-grid__item:nth-child(11) {
    grid-area: small9;
  }
  .gallery-grid__item:nth-child(12) {
    grid-area: small10;
  }
}
.card-small {
  display: flex;
  flex-direction: column;
  min-height: 481px;
  position: relative;

  &__top {
    min-height: 412px;
    background: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    overflow: hidden;
  }
  .card-small__bottom {
    padding: 12px 0 0 0;
    flex: 1 1 auto;
  }

  .small__img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .small__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
  }
  .small__price {
    font-weight: 600;
    font-size: 14px;
    line-height: 2;
    opacity: 0.5;
  }
  .card-small_new::after {
    content: "Новинка";
    color: $color-nain;
    padding-left: 40px;
  }
}

.card-big {
  min-height: 481px;
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: 14px;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  .card-big__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .card-big__bottom {
    width: 100%;
    padding: 0 25px 25px 25px;
    display: flex;
    justify-content: space-between;
  }
  .card__big__text {
    flex: 1 1 auto;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.65;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.input-row {
  display: flex;
  justify-content: center;
}
.input-row__column {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px 0;
}
.input-row__title {
  font-family: "Jura";
  font-weight: 500;
  font-size: 27px;
  line-height: 1.56;
}
