.navigation {
  padding: 60px 0;
  &__container {
    max-width: 1230px;
    margin: auto;
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }
  &__img {
    width: 46px;
    height: 46px;
  }
  &__link {
    color: #878787;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    opacity: 1;

    &:hover {
      color: #ff0000;
    }
  }
}

@media screen and (max-width: 1012px) {
  .navigation {
    &__container {
      max-width: 630px;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px 0;
    }
  }
}
